<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869081868229-f3l993bd9ac9er98tg5b5q4719avdfrc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869081868229-f3l993bd9ac9er98tg5b5q4719avdfrc</string>
	<key>API_KEY</key>
	<string>AIzaSyBHG1gsmx4WhXgPlUPlreqbFpJqMszDVIw</string>
	<key>GCM_SENDER_ID</key>
	<string>869081868229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unlv.unlvCeaoMobileSignIn</string>
	<key>PROJECT_ID</key>
	<string>unlv-caeo-nvhd</string>
	<key>STORAGE_BUCKET</key>
	<string>unlv-caeo-nvhd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869081868229:ios:a04b68dc8a98a0c0294dac</string>
</dict>
</plist>